<main>
    <ng-container id="todo-add">
        <input (keydown.enter)="onAddTodo()" [(ngModel)]="newTodo.todo" type="text">
        <ng-container>
            <input (focusin)="onShowLabelHints()" (focusout)="onShowLabelHints()" [(ngModel)]="newTodo.label" type="text">
            <ng-container *ngIf="showLabelHints">
                <p *ngFor="let label of getRelevantLabels(newTodo.label)">
                    {{label}}
                </p>
            </ng-container>
        </ng-container>
    </ng-container>
    <button (click)="onAddTodo()">Submit ToDo</button>
    <ng-container id="todo-list">
        <div *ngFor="let label of labels" class="label-card">
            <h3>{{label}}</h3>
            <ul>
                <ng-container *ngFor="let todo of todoList[label]; let index = index">
                    <li (dragend)="onDragEnd()"
                        (dragenter)="onDragEnter(index, label)"
                        (dragstart)="onDragStart(index)"
                        class="todo-item" draggable="true">{{todo.todo}}</li>
                </ng-container>
            </ul>
        </div>
    </ng-container>
</main>
